/*
 * CSS reset
*/

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul, ol, li {
    list-style: none;
}

em, i {
    font-style: normal;
}

img {
    border: none;
}

input, img {
    vertical-align: middle;
}

body {
    background: #fff;
    color: white;
    font-size: 14px;
    font-family: arial;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: chartreuse;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html, body {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

.noscroll {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-dom {
    width: 100%;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
}

body {
    background: #1E90FF;
}

.nav {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
}
.nav > li {
    display: inline-block;
    width: 100px;
    padding: .2em 1em;
    text-align: center;
}